*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
button{
    float: right;
    margin-right: 10px;
    padding: 4px 10px;
    color: aliceblue;
    background-color: rgb(50, 50, 241);
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
    transform: translate(2px, 2px);
}
.main{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 1px solid black ;
    position: relative;
    width: 300px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #333;
    margin: 16px;
}
.card :hover img {
    transform: translateY(-4px);
    transition: 0.4s;
}
.header{
    width: 100%;
}

.container{
    width: 100%;
    padding-top: 20px;
}
.container-pic{
    width: 100%;
    margin-bottom: 10px;
    
}
.container-contain{
    margin-top: 10px;
    margin-bottom: 10px;
}




