/* .header{
display: flex;
background-color: #333333;
color: white;
}

.item{
padding: 20px 10px;
font-size: larger;
cursor: pointer;
text-decoration: none;
}

.header>.item:hover{
    background-color: white;
    color: black;
}

.item-right{
    float: right;
} */


/* // */
.header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

.header .item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.header .item:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.item-right {
    float: right;
}